h1{
    font-family: Libre Baskerville , regular 400;
    font-size: 48px;
    color: white;
    text-align: center;
    font-weight: 500;
}
h2{
    font-family: Libre Baskerville , regular 400;
    font-size: 15px;
    color: white;
    text-align: center;
    font-weight: 100;
    
}

body{
    background-color: black;
}

div{

    align-content: center;
    margin-top: 20%;
    padding: 20%;
    width: 100%;
}

img{
    border: solid ;
    border-width: 5px;
    border-color: white;
    
}